<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.tymeleaf.org">
	<head th:replace="~{Fragmentos :: imports-css(title='Servicos')}">
		<title>Servicos</title>
	</head>
	<body>
		<div th:replace="~{Fragmentos :: barramenu(pagina='servicos')}"></div>
		
		<div class="container" style="width: 60%; margin-top: 20px">
			<div class="card-header">
				<h4>Cadastro de Servicos
					<a class="btn btn-primary float-right" th:href="@{~/servicos}" role="button">voltar</a>
				</h4>
			</div>
			
			<div th:replace="~{Fragmentos :: mensagens}"></div>
			
			<form th:object="${servico}" th:action="@{~/servicos/servico/{codigo}(codigo=${servico.codigo})}" method="post" enctype="multipart/form-data" class="card-body">
				<input type="hidden" th:field="*{codigo}">
				<div class="form-row"><!-- class = form-row diz respeito a uma linha de um formulário -->
					<div class="form-group">
						<label for="descricao">Descricao Servico:</label>
						<input th:field="*{descricao}" type="text" class="form-control" placeholder="Descricao" required="required" maxlength="100">
					</div>
				</div>
				<div class="form-row">
					<div class="form-group">
						<label for="tipo">Tipo:</label>
						<input th:field="*{tipo}" type="text" maxlength="200" class="form-control" placeholder="Tipo" required="required">
					</div>
				</div>
				<div class="form-row">
					<div class="form-group">
						<label for="valor">Valor:</label>
						<input th:field="*{valor}" type="text" maxlength="200" class="form-control" placeholder="Valor" required="required">
					</div>
				</div>
				
				<div class="card-footer">
					<input type="submit" class="btn btn-sucess" value="salvar"/>
				</div>
			</form>
		</div>
		
		<div th:replace="~{Fragmentos :: imports-js}"></div>
		
	</body>
</html>