<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.tymeleaf.org">
	<head th:replace="~{Fragmentos :: imports-css(title='Animais')}">
		<title>Animais</title>
	</head>
	<body>
		<div th:replace="~{Fragmentos :: barramenu(pagina='animais')}"></div>
		
		<div class="container" style="width: 60%; margin-top: 20px">
			<div class="card-header">
				<h4>Cadastro de Animais
					<a class="btn btn-primary float-right" th:href="@{~/animais}" role="button">voltar</a>
				</h4>
			</div>
			
			<div th:replace="~{Fragmentos :: mensagens}"></div>
			
			<form th:object="${animal}" th:action="@{~/animais/animal/{codigo}(codigo=${animal.codigo})}" method="post" enctype="multipart/form-data" class="card-body">
				<input type="hidden" th:field="*{codigo}">
				<div class="form-row"><!-- class = form-row diz respeito a uma linha de um formulário -->
					<div class="form-group">
						<label for="nome">Nome:</label>
						<input th:field="*{nome}" type="text" class="form-control" placeholder="Nome" required="required" maxlength="100">
					</div>
				</div>
				<div class="form-row">
					<div class="form-group">
						<label for="raca">Raca:</label>
						<input th:field="*{raca}" type="text" maxlength="200" class="form-control" placeholder="Raca" required="required">
					</div>
				</div>
				<div class="form-row">
					<div class="form-group">
						<label for="especie">Especie:</label>
						<input th:field="*{especie}" type="text" maxlength="200" class="form-control" placeholder="Especie" required="required">
					</div>
				</div>
				
				<div class="card-footer">
					<input type="submit" class="btn btn-sucess" value="salvar"/>
				</div>
			</form>
		</div>
		
		<div th:replace="~{Fragmentos :: imports-js}"></div>
		
	</body>
</html>