<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.tymeleaf.org">
	<head th:replace="~{Fragmentos :: imports-css(title='Erro')}">
		<title>...</title>
	</head>
	<body>
		<div th:replace="~{Fragmentos :: barramenu(pagina='petshops')}"></div>
		<div class="container" align="center" style="margin-top: 30px">
			<h3>Ops! Algo deu errado.</h3>
			<div th:replace="~{Fragmentos :: mensagens}"></div>
			<a class="btn btn-primary" th:href="@{~/}" role="button">Voltar</a>
		</div>
		<div th:replace="~{Fragmentos :: imports-js}"></div>
	</body>
</html>