<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.tymeleaf.org">
	<head th:replace="~{Fragmentos :: imports-css(title='Funcoes')}">
		<title>Funcoes</title>
	</head>
	<body>
		<div th:replace="~{Fragmentos :: barramenu(pagina='funcoes')}"></div>
		
		<div class="container" style="width: 60%; margin-top: 20px">
			<div class="card-header">
				<h4>Cadastro de Funcoes
					<a class="btn btn-primary float-right" th:href="@{~/funcoes}" role="button">voltar</a>
				</h4>
			</div>
			
			<div th:replace="~{Fragmentos :: mensagens}"></div>
			
			<form th:object="${funcao}" th:action="@{~/funcoes/funcao/{codigo}(codigo=${funcao.codigo})}" th:method="POST" enctype="multipart/form-data" class="card-body">
				<input type="hidden" th:field="*{codigo}">
				<div class="form-row"><!-- class = form-row diz respeito a uma linha de um formulário -->
					<div class="form-group">
						<label for="descricao">Descricao Funcao:</label>
						<input th:field="*{descricao}" type="text" class="form-control" placeholder="Descricao" required="required" maxlength="100">
					</div>
				</div>
				<div class="form-row">
					<div class="form-group">
						<label for="salario">Salario:</label>
						<input th:field="*{salario}" type="text" maxlength="200" class="form-control" placeholder="Salario" required="required">
					</div>
				</div>
				
				<div class="card-footer">
					<input type="submit" class="btn btn-sucess" value="salvar"/>
				</div>
			</form>
		</div>
		
		<div th:replace="~{Fragmentos :: imports-js}"></div>
		
	</body>
</html>