<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.tymeleaf.org">
	<head th:replace="~{Fragmentos :: imports-css(title='Produtos')}">
		<title>Produtos</title>
	</head>
	<body>
		<div th:replace="~{Fragmentos :: barramenu(pagina='produtos')}"></div>
		
		<div class="container" style="margin-top: 20px">
			<div class="card-header">
				<h4>
					Produtos Cadastrados
					<a class="btn btn-primary float-right" th:href="@{~/produtos/produto}" role="button">Novo Produto</a>
				</h4>
			</div>
			<div class="card" th:each="produto : ${produtos}">
				<div class="card-body">
					<h5 class="card-title" th:text="'Marca: '+${produto.marca}"></h5>
					<div class="card-text" th:text="'Peso: '+${produto.peso}"></div>
					<div class="card-text" th:text="'Tipo: '+${produto.tipo}"></div>
					<div class="card-text" th:text="'Valor: '+${produto.valor}"></div>
					<div class="card-text" th:text="'Data da Venda: '+${produto.dataVenda}"></div>
					<div class="card-text" th:text="'Quantidade: '+${produto.quantidade}"></div>
				</div>
				<div class="card-body">
					<a th:href="@{'~/produtos/produto/'+${produto.codigo}}" class="btn btn-warning">Editar</a>
					<a th:href="@{'~/produtos/'+${produto.codigo}+'/deletar'}" class="btn btn-danger" onclick="return confirm ('Deseja realmente excluir essa Produto?')">Excluir</a>
				</div>
			</div>
		</div>
		
		<div th:replace="~{Fragmentos :: imports-js}"></div>
	</body>
</html>